body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin:0;
    background-color: #f4f7f6;
    color:#333;
    line-height:1.6;
}

.container{
    max-width: 800px;
    margin: 40px auto;
    padding:30px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    border-radius: 8px;
}

header{
   text-align: center; 
   margin-bottom:30px;
}

header h1{
    color:#0a7df8;
    margin-bottom: 10px;
}

header .tagline{
    color:#6c757d;
    font-style:italic;
}

.input-label{
    display: block;
    margin-bottom: 10px;
    font-weight:bold;
    color:#555;
}

textarea{
    width: calc(100% - 22px);
    padding:10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size:16px;
    line-height: 1.4;
}


.special-characters{
    margin-bottom:15px;
    display: flex;
    flex-wrap:wrap;
    gap:8px;
}

.special-characters button{
    padding:8px 12px;
    font-size:16px;
    border: 1px solid #ccc;
    border-radius:4px;
    color:#333;
    background-color: #eee;
}

.special-characters button:hover{
    background-color: #ddd;
}

button{
    padding: 12px 20px;
    border:none;
    border-radius: 6px;
    font-size:16px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.primary-button{
    background-color: #007bff;
    color:white;
}

.primary-button:hover{
    background-color: #0054ad;
}

.hidden{
    display:none !important;
}

.secondary-button{
    background-color: #6c757d;
    color: white;
    margin-right: 10px;
}

.secondary-button:hover{
    background-color: #545b62;
}




